/* estilos.css */

/* Defina uma classe para o rodapé */
.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc; /* Exemplo de borda */
}

/* Estilo para o rodapé */
.footer p {
    margin-bottom: 1px;
    font-size: 0.9em;
}

.destacado {

        font-size: 30px; /* Tamanho da fonte maior */
        font-weight: bold; /* Texto em negrito */
        color: #354F7A; /* Cor de destaque personalizada (laranja) */
        margin-top: 30px
    }

.clickable-chave {
    color: blue;
    cursor: pointer;
}
.clickable-chave:hover {
    font-weight: bold;
}